@model IEnumerable<Puzzless>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Picture Name</th>
            <th scope="col">Picture İco</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.puzzlename</td>
                <td class="w-25"><img style="width:100px;height:50px;object-fit:contain" alt="puzzleImage" src="@ImageProp.ByteArrayToImageAsync(item.puzzlepicture)" /></td>
                <td><a class="btn btn-info" asp-action="SavePuzzle" asp-controller="Home" asp-route-id="@item.id">Update</a></td>
            </tr>
        }
    </tbody>
</table>
